<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNI Validation</title>
    <link rel="icon" href="../assets/icon/icon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="../scripts/main.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <p>DNI:</p>
            <input id="input" type="text" autocomplete="off" placeholder="(012-3456789-0)">
            <button id="btn">Verify</button>
        </div>
    </div>
</body>
</html>